.banner {
  height: 80vh;
  background-image: url("../../images/dog.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.dog-container {
  width: 50%;
}

.text {
  width: 50%;
}
